[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
openai = "*"
black = "*"
python-dotenv = "*"
"google.cloud" = "*"
google-cloud-secret-manager = "*"
gcloud = "*"

[dev-packages]

[requires]
python_version = "3.12"
